
@{
    ViewBag.Title = "Thank_You";
}
<link rel="stylesheet" href="~/Content/Thank_You.css" />
<div class="thank-you">
    <h1>Thank_You</h1>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

