@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="padding-top:30px;">
    <div class="col-lg-4">
        <h1>
            Login
        </h1>
        <p style="padding-top:10px;"><a class="btn btn-secondary" href="~/Home/Login">Login Here</a></p>
    </div>
    <div class="col-lg-4">
        <h1>Register</h1>
        <p style="padding-top:10px;"><a class="btn btn-secondary" href="~/Home/Register">Register Here</a></p>
    </div>
</div>